*{
	padding: 0;
	margin: 0;
}
body{
	font: normal 12px Tahoma, Verdana, Arial, sans-serif;
	background: #333;
}
a{
	color: #f00;
}
#divContenedor{
	margin: 0 auto;
	width: 800px;
	margin-top: 70px;
}
	#divInfo{
		text-align: center;
		margin-bottom: 70px;
		color: #fff;
	}
	#divAcordeones{
		padding: 10px;
	}
		#divIzquierda{
			width: 300px;
			display: inline-block;
			box-shadow: 0 0 10px #000;
			border-radius: 3px;
		}
		#divDerecha{
			display: inline-block;
			float: right;
			box-shadow: 0 0 10px #000;
			border-radius: 3px;
			height: 234px;
		}

/* acordeon vertical */
.clsAcordeonVertical{
	list-style-type: none;
}
	.clsAcordeonVertical li{
		overflow: hidden;
	}
		.clsAcordeonVertical li:first-child strong{
			border-radius: 3px 3px 0 0;
		}
		.clsAcordeonVertical li:last-child strong{
			border-radius: 0 0 3px 3px;
		}
		.clsAcordeonVertical li strong{
			background: #ADACA2;
			display: block;
			padding: 10px 5px;
			text-align: center;
		}
			.clsAcordeonVertical li:last-child:hover strong{
				border-radius: 0;
			}
			.clsAcordeonVertical li:hover span{
				height: 200px;
			}
		.clsAcordeonVertical li span{
			display: block;
			height: 0;
			-webkit-transition: all 0.3s ease-out;
     			-moz-transition: all 0.3s ease-out;
      				-ms-transition: all 0.3s ease-out;
       					-o-transition: all 0.3s ease-out;
          					transition: all 0.3s ease-out;
		}

/* acordeon horizontal */
.clsAcordeonHorizontal{
	list-style-type: none;
}
	.clsAcordeonHorizontal li{
		overflow: hidden;
		float: left;
	}
		.clsAcordeonHorizontal li:first-child strong{
			border-top-left-radius: 3px;
		}
		.clsAcordeonHorizontal li:last-child strong{
			border-top-right-radius: 3px;
		}
		.clsAcordeonHorizontal li strong{
			background: #ADACA2;
			display: block;
			padding: 10px 5px;
			text-align: center;
		}
			.clsAcordeonHorizontal li:hover span{
				width: 300px;
			}
		.clsAcordeonHorizontal li span{
			display: block;
			width: 0;
			-webkit-transition: all 0.3s ease-out;
     			-moz-transition: all 0.3s ease-out;
      				-ms-transition: all 0.3s ease-out;
       					-o-transition: all 0.3s ease-out;
          					transition: all 0.3s ease-out;
		}